<div class="container">
	<h2>List of items</h2>
</div>
<div class="container">
	<div class="col-md-4">
		<input type="text" ng-model="searchTerm" placeholder="Search..." class="form-control input-lg"/>
	</div>
	<div class="col-md-8"></div>
</div>
<div class="container">
	<div class="row">
		<div ng-repeat="item in vm.itemList | filter:searchTerm">
			<div class="col-md-5">
				<a href="/#/order/{{item.id}}" class="item-title">{{item.title}}</a>
			</div>
			<div class="col-md-3">
				<input type="checkbox" ng-click="vm.OnAddCart(item.id)"/>
			</div>
		</div>
	</div>
</div>
<h3 ng-click="vm.basket=3">Basket:</h3>
<a href="#" ng-click="vm.ShowCart()">Show cart</a>
<div class="basket-container">
	{{vm.Cart}}
</div>