<div class="container">
	<h2>List of items</h2>
</div>
<div class="container">
	<div class="col-md-4">
		<input type="text" ng-model="searchTerm" placeholder="Search..." class="form-control input-lg"/>
	</div>
	<div class="col-md-8"></div>
</div>
<div class="container">
	<div class="row">
		<div ng-repeat="item in vm.itemList | filter:searchTerm">
			<div class="col-md-5">
				<span class="item-title">{{item.title}}</span>
			</div>
			<div class="col-md-3">
				<input type="checkbox" ng-click="vm.BasketChange($index)"/>
			</div>
			<div class="col-md-3">
				<a href="/#/order/{{$index}}">Order item</a>
			</div>
		</div>
	</div>
</div>
<h3 ng-click="vm.basket=3">Basket:</h3>
<div class="basket-container">
	<span>{{vm.basket}}</span>
</div>