.item-title
{
	font-size: 20px;
	font-weight: bold;
  color: #000011;
  margin-left: 20px;
}

.item-title:hover
{
  text-decoration: none;
  color: #000011;
}

.cart-toggle
{
	color: white;
	padding: 20px 30px;
}
.cart-count
{
	padding: 20px 10px;
}
