<h2>Order check out</h2>
<div class="container" ng-if="vm.cart.length > 0">
	<table class="table table-striped">
		<thead class="thead">
			<tr>
				<td width="5%"><strong>#</strong></td>
				<td><strong>Title</strong></td>
				<td width="15%"><strong>Price</strong></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in vm.cart">
				<td>{{$index+1}}</td>
				<td>{{item.title}}</td>
				<td>{{Math.round(Math.random()*200)}}</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="col-md-3 col-md-offset-9">
			<button class="btn btn-warning" ui-sref="home">Cancel</button>
			<button class="btn btn-primary" ng-click="vm.processOrder()">Check out</button>
		</div>
	</div>
</div>
<div ng-if="vm.cart.length <= 0" class="alert alert-warning">Your cart is empty. Please add items to check out.</div>
