<div class="col-md-4">
  <input ng-model="search.title" class="form-control input" placeholder="Search...">
</div>
<br />
<br />
<br />
<br />
<div ng-repeat="item in itemList | filter:search">
  <div class="row">
    <div class="col-md-4">
      <img ng-src="/images/cup.png" width="80px" alt="The image is broken." />
      <a class="item-title" ng-bind="item.title"></a>
    </div>
    <div class="col-md-4" ng-if="!isInCart(item.id)">
      <button class="btn btn-success" style="margin-top: 35px" ng-click="onAddCart(item.id)">Add cart</button>
    </div>
    <div class="col-md-4" ng-if="isInCart(item.id)">
      <button class="btn btn-danger" style="margin-top: 35px" ng-click="onAddCart(item.id)">Remove from cart</button>
    </div>
  </div>
  <br />
</div>
