<h2>home</h2>
<div ng-controller="HomeCtrl as hct">
  <p>{{hct.ctrlName}}</p>
</div>

<div ng-controller="DomaCtrl">
  <button class="btn btn-success" ng-click="sen()">{{name}}</button>
</div>

<br/>

<div ng-controller="StoreCtrl">
  <label>Search: <input ng-model="searchText" class="form-control input"></label>
  <br/>
  <div class="list-group-item" ng-repeat="product in products | filter:searchText">
    <h4>{{product.name + ", size: "+product.size}}</h4>
    <h5>{{"description: "+product.description}}</h5>
  </div>
</div>

